{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Register{% endblock %}

{% block content %}
    <h1>{{'Register'|trans}}</h1>

    <main class="container">
        <div class="row">
            <div class="col">
            {{ form_start(registrationForm) }}
                {{ form_errors(registrationForm) }}
                <fieldset class="mb-3">
                    <legend>{{'MyIdentity'|trans}}</legend>
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.username) }}
                </fieldset>
                <fieldset class="mb-3">
                    <legend>{{'Password'|trans}}</legend>
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                </fieldset>
                 <div class="form-check">
                    {{ form_widget(registrationForm.RGPDConsent) }}
                    {{ form_label(registrationForm.RGPDConsent) }}
                </div>
                <button type="submit" class="btn btn-primary mb-3">{{'SignUp'|trans}}</button>
                {{ form_end(registrationForm) }}
                <p>{{'AlreadyHaveAnAccount'|trans}} <a href="{{ path('app_login') }}">{{'Connect'|trans}}</a></p>
            </div>
        </div>
{% endblock %}
